
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.login h1{
    color: rgb(74, 46, 111);
}
.login input{
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    background-color: rgb(247,247,247,1);
    border: 2px solid;
    border-color: rgb(229, 229, 229,1);
}
.login button{
    width: 450px;
    max-width: 40%;
    padding: 10px;
    background-color: rgb(74, 46, 111); /* Color de fondo azul */
    color: white; /* Color de texto blanco */
    border: none; /* Sin borde */
    border-radius: 40px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    font-size: 16px; /* Tamaño de fuente */
    margin-bottom: 10px;
}

.registro h2 {
    color: rgb(74, 46, 111); /* morado bonito */
}

.registro p {
    color: rgb(197, 35, 49); /* morado bonito */
}

button:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
  opacity: 0.7;
  pointer-events: none;
}